@model SidBy.Sklad.Web.Models.LocalPasswordModel
@using SidBy.Sklad.Web.Resources.Views.Account

<p>
    @_SetPasswordPartialStrings.YouDoNotHaveLocalPasswordForThisSite
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@_SetPasswordPartialStrings.SetPasswordForm</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@_SetPasswordPartialStrings.SetPassword" />
    </fieldset>
}
